@page  "/Produto/ListProduto"
@using System.Net.Http
@inject HttpClient Http

<h3>Produtos</h3>

<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Descricao</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in userList)
            {
            <tr>
                <td>@item.ID</td>
                <td>@item.Nome</td>
                <td>@item.Descricao</td>
                <td>@item.Valor</td>
                <td>
                    <button class="btn btn-success" @onclick="@(() => EditModelo_Produto(item.ID))">Edit</button>
                    <button class="btn btn-danger" @onclick="@(() => DeleteModelo_Produto(item.ID))">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@code {

    private List<Modelo_Produto> userList = new List<Modelo_Produto>();

    protected override async Task OnInitializedAsync()
    {

        var Produtos = await Http.GetFromJsonAsync<List<Modelo_Produto>>("/Produto/List");
        foreach (var item in Produtos)
        {
            userList.Add(item);
        }
    }

    private void EditModelo_Produto(int itemID)
    {
        //call controller
    }

    private void DeleteModelo_Produto(int itemID)
    {
        //call controller
    }

}